---
import Debug from "astro/debug";
import { border } from "../styles/shared.ts";

const { edit = null } = Astro.props;
const branch = "main";

const year = new Date().getUTCFullYear();
---

<footer>
  <div>
    {year} — Made with &hearts; by <a href="https://mayuraandrew.tech"
      >Mayura Andrew</a
    >
  </div>
</footer>

<style define:vars={{ border }}>
  footer {
    padding: 1rem;
    border-top: var(--border);
    display: flex;
    justify-content: space-between;
  }
</style>
